{{!this is the template for SbidcnewWidget.}}
{{!it expects an array of strings and assembles them into buttons.}}

<div class="SbidcnewWidget">
  <div class="SbidcnewWidget-header">
    <p>
      {{ titleText }}
    </p>
    <p>
      <span class="SbidcnewWidget-selected-slot-text">{{ selectedSlotText }}</span>
      <span class="SbidcnewWidget-selected-slot"></span>
    </p>
  </div>
  <div class="SbidcnewWidget-content"></div>
</div>