<div class="SbidcnewWidget-button-container">
  {{#each buttons}}
    <button class="SbidcnewWidget-button" type="button" data-slot="{{ name }}">
      {{ displayName }}
    </button>
  {{/each}}
</div>